div.scrollholder
{
    position: relative;
    width: 536px; height: 605px;
    overflow: auto;
    z-index: 1;
    background-color: #000000;

}

div.scroll
{
    position: absolute;
    left: 0; top: 0;
    width: 95%;
    z-index: 2;
}

/* <Scroll> */
div.track
{
    position: relative;
    float:right;
    top: 0; 
    width: 20px; height: 100%;
    font-size: 0;
    z-index: 3;
    background: black;
}

div.drag_bar
{
    position: absolute;
    width: 100%; height: 14px;
    cursor:default;
    z-index: 4;
	background-color:#4c4c4c;
}  


	<!-- background-image:url(../images/transition.jpg);-->